In [1]:
import pandas as pd
df = pd.read_csv('Car details v3.csv')

In [2]:
df.drop('torque', inplace=True, axis=1)

In [3]:
print (df)

                              name  year  selling_price  km_driven    fuel  \
0           Maruti Swift Dzire VDI  2014         450000     145500  Diesel
1     Skoda Rapid 1.5 TDI Ambition  2014         370000     120000  Diesel
2         Honda City 2017-2020 EXi  2006         158000     140000  Petrol
3        Hyundai i20 Sportz Diesel  2010         225000     127000  Diesel
4           Maruti Swift VXI BSIII  2007         130000     120000  Petrol
...                            ...   ...            ...        ...     ...
8123             Hyundai i20 Magna  2013         320000     110000  Petrol
8124         Hyundai Verna CRDi SX  2007         135000     119000  Diesel
8125        Maruti Swift Dzire ZDi  2009         382000     120000  Diesel
8126               Tata Indigo CR4  2013         290000      25000  Diesel
8127               Tata Indigo CR4  2013         290000      25000  Diesel

     seller_type transmission                 owner     mileage   engine  \
0     Individual       Manual           First Owner   23.4 kmpl  1248 CC
1     Individual       Manual          Second Owner  21.14 kmpl  1498 CC
2     Individual       Manual           Third Owner   17.7 kmpl  1497 CC
3     Individual       Manual           First Owner   23.0 kmpl  1396 CC
4     Individual       Manual           First Owner   16.1 kmpl  1298 CC
...          ...          ...                   ...         ...      ...
8123  Individual       Manual           First Owner   18.5 kmpl  1197 CC
8124  Individual       Manual  Fourth & Above Owner   16.8 kmpl  1493 CC
8125  Individual       Manual           First Owner   19.3 kmpl  1248 CC
8126  Individual       Manual           First Owner  23.57 kmpl  1396 CC
8127  Individual       Manual           First Owner  23.57 kmpl  1396 CC

       max_power  seats
0         74 bhp    5.0
1     103.52 bhp    5.0
2         78 bhp    5.0
3         90 bhp    5.0
4       88.2 bhp    5.0
...          ...    ...
8123   82.85 bhp    5.0
8124     110 bhp    5.0
8125    73.9 bhp    5.0
8126      70 bhp    5.0
8127      70 bhp    5.0

[8128 rows x 12 columns]

In [4]:
backup=df.copy()

In [5]:
df['company_name'] = df['name'].str.split(' ').str.get(0)

In [6]:
df['model_name'] = df['name'].str.split(' ').str.slice(1,10).str.join(' ')

In [7]:
df.drop('name', inplace=True, axis=1)

In [8]:
print (df)

      year  selling_price  km_driven    fuel seller_type transmission  \
0     2014         450000     145500  Diesel  Individual       Manual
1     2014         370000     120000  Diesel  Individual       Manual
2     2006         158000     140000  Petrol  Individual       Manual
3     2010         225000     127000  Diesel  Individual       Manual
4     2007         130000     120000  Petrol  Individual       Manual
...    ...            ...        ...     ...         ...          ...
8123  2013         320000     110000  Petrol  Individual       Manual
8124  2007         135000     119000  Diesel  Individual       Manual
8125  2009         382000     120000  Diesel  Individual       Manual
8126  2013         290000      25000  Diesel  Individual       Manual
8127  2013         290000      25000  Diesel  Individual       Manual

                     owner     mileage   engine   max_power  seats  \
0              First Owner   23.4 kmpl  1248 CC      74 bhp    5.0
1             Second Owner  21.14 kmpl  1498 CC  103.52 bhp    5.0
2              Third Owner   17.7 kmpl  1497 CC      78 bhp    5.0
3              First Owner   23.0 kmpl  1396 CC      90 bhp    5.0
4              First Owner   16.1 kmpl  1298 CC    88.2 bhp    5.0
...                    ...         ...      ...         ...    ...
8123           First Owner   18.5 kmpl  1197 CC   82.85 bhp    5.0
8124  Fourth & Above Owner   16.8 kmpl  1493 CC     110 bhp    5.0
8125           First Owner   19.3 kmpl  1248 CC    73.9 bhp    5.0
8126           First Owner  23.57 kmpl  1396 CC      70 bhp    5.0
8127           First Owner  23.57 kmpl  1396 CC      70 bhp    5.0

     company_name              model_name
0          Maruti         Swift Dzire VDI
1           Skoda  Rapid 1.5 TDI Ambition
2           Honda      City 2017-2020 EXi
3         Hyundai       i20 Sportz Diesel
4          Maruti         Swift VXI BSIII
...           ...                     ...
8123      Hyundai               i20 Magna
8124      Hyundai           Verna CRDi SX
8125       Maruti         Swift Dzire ZDi
8126         Tata              Indigo CR4
8127         Tata              Indigo CR4

[8128 rows x 13 columns]

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8128 entries, 0 to 8127
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   year           8128 non-null   int64
 1   selling_price  8128 non-null   int64
 2   km_driven      8128 non-null   int64
 3   fuel           8128 non-null   object
 4   seller_type    8128 non-null   object
 5   transmission   8128 non-null   object
 6   owner          8128 non-null   object
 7   mileage        7907 non-null   object
 8   engine         7907 non-null   object
 9   max_power      7913 non-null   object
 10  seats          7907 non-null   float64
 11  company_name   8128 non-null   object
 12  model_name     8128 non-null   object
dtypes: float64(1), int64(3), object(9)
memory usage: 825.6+ KB

In [10]:
df['mileage (kmpl)'] = df['mileage']
df.drop('mileage', inplace=True, axis=1)
df['mileage (kmpl)']=df['mileage (kmpl)'].str.split(' ').str.get(0)

df['engine (cc)'] = df['engine']
df.drop('engine', inplace=True, axis=1)
df['engine (cc)']=df['engine (cc)'].str.split(' ').str.get(0)

df['max_power (bhp)'] = df['max_power']
df.drop('max_power', inplace=True, axis=1)
df['max_power (bhp)']=df['max_power (bhp)'].str.split(' ').str.get(0)

In [11]:
print (df)

      year  selling_price  km_driven    fuel seller_type transmission  \
0     2014         450000     145500  Diesel  Individual       Manual
1     2014         370000     120000  Diesel  Individual       Manual
2     2006         158000     140000  Petrol  Individual       Manual
3     2010         225000     127000  Diesel  Individual       Manual
4     2007         130000     120000  Petrol  Individual       Manual
...    ...            ...        ...     ...         ...          ...
8123  2013         320000     110000  Petrol  Individual       Manual
8124  2007         135000     119000  Diesel  Individual       Manual
8125  2009         382000     120000  Diesel  Individual       Manual
8126  2013         290000      25000  Diesel  Individual       Manual
8127  2013         290000      25000  Diesel  Individual       Manual

                     owner  seats company_name              model_name  \
0              First Owner    5.0       Maruti         Swift Dzire VDI
1             Second Owner    5.0        Skoda  Rapid 1.5 TDI Ambition
2              Third Owner    5.0        Honda      City 2017-2020 EXi
3              First Owner    5.0      Hyundai       i20 Sportz Diesel
4              First Owner    5.0       Maruti         Swift VXI BSIII
...                    ...    ...          ...                     ...
8123           First Owner    5.0      Hyundai               i20 Magna
8124  Fourth & Above Owner    5.0      Hyundai           Verna CRDi SX
8125           First Owner    5.0       Maruti         Swift Dzire ZDi
8126           First Owner    5.0         Tata              Indigo CR4
8127           First Owner    5.0         Tata              Indigo CR4

     mileage (kmpl) engine (cc) max_power (bhp)
0              23.4        1248              74
1             21.14        1498          103.52
2              17.7        1497              78
3              23.0        1396              90
4              16.1        1298            88.2
...             ...         ...             ...
8123           18.5        1197           82.85
8124           16.8        1493             110
8125           19.3        1248            73.9
8126          23.57        1396              70
8127          23.57        1396              70

[8128 rows x 13 columns]

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8128 entries, 0 to 8127
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   year             8128 non-null   int64
 1   selling_price    8128 non-null   int64
 2   km_driven        8128 non-null   int64
 3   fuel             8128 non-null   object
 4   seller_type      8128 non-null   object
 5   transmission     8128 non-null   object
 6   owner            8128 non-null   object
 7   seats            7907 non-null   float64
 8   company_name     8128 non-null   object
 9   model_name       8128 non-null   object
 10  mileage (kmpl)   7907 non-null   object
 11  engine (cc)      7907 non-null   object
 12  max_power (bhp)  7913 non-null   object
dtypes: float64(1), int64(3), object(9)
memory usage: 825.6+ KB

In [13]:
##df['engine (cc)'].str.isnumeric()
df['max_power (bhp)'].str.isnumeric()
##df['mileage (kmpl)'].str.isnumeric()

##problems
##max_power and mileage contains decimel points....system does not recognise it as a numerical value stored in string
##all 3 values needs to be converted in integer or double

0        True
1       False
2        True
3        True
4       False
        ...
8123    False
8124     True
8125    False
8126     True
8127     True
Name: max_power (bhp), Length: 8128, dtype: object

In [14]:
df['engine (cc)']=df['engine (cc)'].str.replace(' ','')

In [15]:
df['engine (cc)']=df['engine (cc)'].astype(float)

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8128 entries, 0 to 8127
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   year             8128 non-null   int64
 1   selling_price    8128 non-null   int64
 2   km_driven        8128 non-null   int64
 3   fuel             8128 non-null   object
 4   seller_type      8128 non-null   object
 5   transmission     8128 non-null   object
 6   owner            8128 non-null   object
 7   seats            7907 non-null   float64
 8   company_name     8128 non-null   object
 9   model_name       8128 non-null   object
 10  mileage (kmpl)   7907 non-null   object
 11  engine (cc)      7907 non-null   float64
 12  max_power (bhp)  7913 non-null   object
dtypes: float64(2), int64(3), object(8)
memory usage: 825.6+ KB

In [17]:
df['mileage (kmpl)']=df['mileage (kmpl)'].str.replace(' ','')

In [18]:
df['mileage (kmpl)']=df['mileage (kmpl)'].astype(float)
print (df)

      year  selling_price  km_driven    fuel seller_type transmission  \
0     2014         450000     145500  Diesel  Individual       Manual
1     2014         370000     120000  Diesel  Individual       Manual
2     2006         158000     140000  Petrol  Individual       Manual
3     2010         225000     127000  Diesel  Individual       Manual
4     2007         130000     120000  Petrol  Individual       Manual
...    ...            ...        ...     ...         ...          ...
8123  2013         320000     110000  Petrol  Individual       Manual
8124  2007         135000     119000  Diesel  Individual       Manual
8125  2009         382000     120000  Diesel  Individual       Manual
8126  2013         290000      25000  Diesel  Individual       Manual
8127  2013         290000      25000  Diesel  Individual       Manual

                     owner  seats company_name              model_name  \
0              First Owner    5.0       Maruti         Swift Dzire VDI
1             Second Owner    5.0        Skoda  Rapid 1.5 TDI Ambition
2              Third Owner    5.0        Honda      City 2017-2020 EXi
3              First Owner    5.0      Hyundai       i20 Sportz Diesel
4              First Owner    5.0       Maruti         Swift VXI BSIII
...                    ...    ...          ...                     ...
8123           First Owner    5.0      Hyundai               i20 Magna
8124  Fourth & Above Owner    5.0      Hyundai           Verna CRDi SX
8125           First Owner    5.0       Maruti         Swift Dzire ZDi
8126           First Owner    5.0         Tata              Indigo CR4
8127           First Owner    5.0         Tata              Indigo CR4

      mileage (kmpl)  engine (cc) max_power (bhp)
0              23.40       1248.0              74
1              21.14       1498.0          103.52
2              17.70       1497.0              78
3              23.00       1396.0              90
4              16.10       1298.0            88.2
...              ...          ...             ...
8123           18.50       1197.0           82.85
8124           16.80       1493.0             110
8125           19.30       1248.0            73.9
8126           23.57       1396.0              70
8127           23.57       1396.0              70

[8128 rows x 13 columns]

In [19]:
df['max_power (bhp)']=df['max_power (bhp)'].str.replace(' ','')
df['max_power (bhp)'].str.isnumeric()

0        True
1       False
2        True
3        True
4       False
        ...
8123    False
8124     True
8125    False
8126     True
8127     True
Name: max_power (bhp), Length: 8128, dtype: object

In [20]:
print (df)

      year  selling_price  km_driven    fuel seller_type transmission  \
0     2014         450000     145500  Diesel  Individual       Manual
1     2014         370000     120000  Diesel  Individual       Manual
2     2006         158000     140000  Petrol  Individual       Manual
3     2010         225000     127000  Diesel  Individual       Manual
4     2007         130000     120000  Petrol  Individual       Manual
...    ...            ...        ...     ...         ...          ...
8123  2013         320000     110000  Petrol  Individual       Manual
8124  2007         135000     119000  Diesel  Individual       Manual
8125  2009         382000     120000  Diesel  Individual       Manual
8126  2013         290000      25000  Diesel  Individual       Manual
8127  2013         290000      25000  Diesel  Individual       Manual

                     owner  seats company_name              model_name  \
0              First Owner    5.0       Maruti         Swift Dzire VDI
1             Second Owner    5.0        Skoda  Rapid 1.5 TDI Ambition
2              Third Owner    5.0        Honda      City 2017-2020 EXi
3              First Owner    5.0      Hyundai       i20 Sportz Diesel
4              First Owner    5.0       Maruti         Swift VXI BSIII
...                    ...    ...          ...                     ...
8123           First Owner    5.0      Hyundai               i20 Magna
8124  Fourth & Above Owner    5.0      Hyundai           Verna CRDi SX
8125           First Owner    5.0       Maruti         Swift Dzire ZDi
8126           First Owner    5.0         Tata              Indigo CR4
8127           First Owner    5.0         Tata              Indigo CR4

      mileage (kmpl)  engine (cc) max_power (bhp)
0              23.40       1248.0              74
1              21.14       1498.0          103.52
2              17.70       1497.0              78
3              23.00       1396.0              90
4              16.10       1298.0            88.2
...              ...          ...             ...
8123           18.50       1197.0           82.85
8124           16.80       1493.0             110
8125           19.30       1248.0            73.9
8126           23.57       1396.0              70
8127           23.57       1396.0              70

[8128 rows x 13 columns]

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8128 entries, 0 to 8127
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   year             8128 non-null   int64
 1   selling_price    8128 non-null   int64
 2   km_driven        8128 non-null   int64
 3   fuel             8128 non-null   object
 4   seller_type      8128 non-null   object
 5   transmission     8128 non-null   object
 6   owner            8128 non-null   object
 7   seats            7907 non-null   float64
 8   company_name     8128 non-null   object
 9   model_name       8128 non-null   object
 10  mileage (kmpl)   7907 non-null   float64
 11  engine (cc)      7907 non-null   float64
 12  max_power (bhp)  7913 non-null   object
dtypes: float64(3), int64(3), object(7)
memory usage: 825.6+ KB

In [22]:
print(df)

      year  selling_price  km_driven    fuel seller_type transmission  \
0     2014         450000     145500  Diesel  Individual       Manual
1     2014         370000     120000  Diesel  Individual       Manual
2     2006         158000     140000  Petrol  Individual       Manual
3     2010         225000     127000  Diesel  Individual       Manual
4     2007         130000     120000  Petrol  Individual       Manual
...    ...            ...        ...     ...         ...          ...
8123  2013         320000     110000  Petrol  Individual       Manual
8124  2007         135000     119000  Diesel  Individual       Manual
8125  2009         382000     120000  Diesel  Individual       Manual
8126  2013         290000      25000  Diesel  Individual       Manual
8127  2013         290000      25000  Diesel  Individual       Manual

                     owner  seats company_name              model_name  \
0              First Owner    5.0       Maruti         Swift Dzire VDI
1             Second Owner    5.0        Skoda  Rapid 1.5 TDI Ambition
2              Third Owner    5.0        Honda      City 2017-2020 EXi
3              First Owner    5.0      Hyundai       i20 Sportz Diesel
4              First Owner    5.0       Maruti         Swift VXI BSIII
...                    ...    ...          ...                     ...
8123           First Owner    5.0      Hyundai               i20 Magna
8124  Fourth & Above Owner    5.0      Hyundai           Verna CRDi SX
8125           First Owner    5.0       Maruti         Swift Dzire ZDi
8126           First Owner    5.0         Tata              Indigo CR4
8127           First Owner    5.0         Tata              Indigo CR4

      mileage (kmpl)  engine (cc) max_power (bhp)
0              23.40       1248.0              74
1              21.14       1498.0          103.52
2              17.70       1497.0              78
3              23.00       1396.0              90
4              16.10       1298.0            88.2
...              ...          ...             ...
8123           18.50       1197.0           82.85
8124           16.80       1493.0             110
8125           19.30       1248.0            73.9
8126           23.57       1396.0              70
8127           23.57       1396.0              70

[8128 rows x 13 columns]

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8128 entries, 0 to 8127
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   year             8128 non-null   int64
 1   selling_price    8128 non-null   int64
 2   km_driven        8128 non-null   int64
 3   fuel             8128 non-null   object
 4   seller_type      8128 non-null   object
 5   transmission     8128 non-null   object
 6   owner            8128 non-null   object
 7   seats            7907 non-null   float64
 8   company_name     8128 non-null   object
 9   model_name       8128 non-null   object
 10  mileage (kmpl)   7907 non-null   float64
 11  engine (cc)      7907 non-null   float64
 12  max_power (bhp)  7913 non-null   object
dtypes: float64(3), int64(3), object(7)
memory usage: 825.6+ KB

In [24]:
df['max_power (bhp)'] = pd.to_numeric(df['max_power (bhp)'])

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8128 entries, 0 to 8127
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   year             8128 non-null   int64
 1   selling_price    8128 non-null   int64
 2   km_driven        8128 non-null   int64
 3   fuel             8128 non-null   object
 4   seller_type      8128 non-null   object
 5   transmission     8128 non-null   object
 6   owner            8128 non-null   object
 7   seats            7907 non-null   float64
 8   company_name     8128 non-null   object
 9   model_name       8128 non-null   object
 10  mileage (kmpl)   7907 non-null   float64
 11  engine (cc)      7907 non-null   float64
 12  max_power (bhp)  7912 non-null   float64
dtypes: float64(4), int64(3), object(6)
memory usage: 825.6+ KB

In [26]:
df=df.dropna()
df=df.reset_index(drop=True)

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7906 entries, 0 to 7905
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   year             7906 non-null   int64
 1   selling_price    7906 non-null   int64
 2   km_driven        7906 non-null   int64
 3   fuel             7906 non-null   object
 4   seller_type      7906 non-null   object
 5   transmission     7906 non-null   object
 6   owner            7906 non-null   object
 7   seats            7906 non-null   float64
 8   company_name     7906 non-null   object
 9   model_name       7906 non-null   object
 10  mileage (kmpl)   7906 non-null   float64
 11  engine (cc)      7906 non-null   float64
 12  max_power (bhp)  7906 non-null   float64
dtypes: float64(4), int64(3), object(6)
memory usage: 803.1+ KB

In [28]:
df['fuel']=df['fuel'].str.lower()
df['seller_type']=df['seller_type'].str.lower()
df['transmission']=df['transmission'].str.lower()
df['owner']=df['owner'].str.lower()
df['company_name']=df['company_name'].str.lower()
df['model_name']=df['model_name'].str.lower()

In [29]:
print(df)

      year  selling_price  km_driven    fuel seller_type transmission  \
0     2014         450000     145500  diesel  individual       manual
1     2014         370000     120000  diesel  individual       manual
2     2006         158000     140000  petrol  individual       manual
3     2010         225000     127000  diesel  individual       manual
4     2007         130000     120000  petrol  individual       manual
...    ...            ...        ...     ...         ...          ...
7901  2013         320000     110000  petrol  individual       manual
7902  2007         135000     119000  diesel  individual       manual
7903  2009         382000     120000  diesel  individual       manual
7904  2013         290000      25000  diesel  individual       manual
7905  2013         290000      25000  diesel  individual       manual

                     owner  seats company_name              model_name  \
0              first owner    5.0       maruti         swift dzire vdi
1             second owner    5.0        skoda  rapid 1.5 tdi ambition
2              third owner    5.0        honda      city 2017-2020 exi
3              first owner    5.0      hyundai       i20 sportz diesel
4              first owner    5.0       maruti         swift vxi bsiii
...                    ...    ...          ...                     ...
7901           first owner    5.0      hyundai               i20 magna
7902  fourth & above owner    5.0      hyundai           verna crdi sx
7903           first owner    5.0       maruti         swift dzire zdi
7904           first owner    5.0         tata              indigo cr4
7905           first owner    5.0         tata              indigo cr4

      mileage (kmpl)  engine (cc)  max_power (bhp)
0              23.40       1248.0            74.00
1              21.14       1498.0           103.52
2              17.70       1497.0            78.00
3              23.00       1396.0            90.00
4              16.10       1298.0            88.20
...              ...          ...              ...
7901           18.50       1197.0            82.85
7902           16.80       1493.0           110.00
7903           19.30       1248.0            73.90
7904           23.57       1396.0            70.00
7905           23.57       1396.0            70.00

[7906 rows x 13 columns]

data cleaning over

In [30]:
df.isnull().sum()

year               0
selling_price      0
km_driven          0
fuel               0
seller_type        0
transmission       0
owner              0
seats              0
company_name       0
model_name         0
mileage (kmpl)     0
engine (cc)        0
max_power (bhp)    0
dtype: int64

In [31]:
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Lasso
from sklearn import metrics

ModuleNotFoundError: No module named 'matplotlib'

In [ ]:
print(df)

In [ ]:
print(df.fuel.value_counts())

In [ ]:
df.replace({'fuel':{'petrol':0,'diesel':1,'cng':2,'lpg':3}},inplace=True)

In [ ]:
print(df)

In [ ]:
print(df.seller_type.value_counts())

In [ ]:
df.replace({'seller_type':{'individual':0,'dealer':1,'trustmark dealer':2}},inplace=True)

In [ ]:
print(df.transmission.value_counts())

In [ ]:
df.replace({'transmission':{'manual':0,'automatic':1}},inplace=True)

In [ ]:
print(df)

In [ ]:
print(df.owner.value_counts())

In [ ]:
df.replace({'transmission':{'first owner':1,'second owner':2,'third owner':3,'fourth & above owner':4,'test drive car':0}},inplace=True)

In [ ]:
print(df)

In [ ]:
df.replace({'owner':{'first owner':1,'second owner':2,'third owner':3,'fourth & above owner':4,'test drive car':0}},inplace=True)

In [ ]:
print(df.transmission.value_counts())

In [ ]:
print(df)

In [ ]:
df.info()

In [ ]:
df.head()

In [ ]:
X = df.drop(['company_name','selling_price','model_name'],axis=1)
Y = df['selling_price']

In [ ]:
X = df.drop(['company_name','selling_price','model_name'],axis=1)
Y = df['selling_price']

In [ ]:
print(X)

In [ ]:
print(Y)

In [ ]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.1, random_state=2)

In [ ]:
#laod lasso
lass_reg_model = Lasso()

In [ ]:
lass_reg_model.fit(X_train,Y_train)

In [ ]:
training_data_prediction = lass_reg_model.predict(X_train)

In [ ]:
error_score = metrics.r2_score(Y_train, training_data_prediction)
print("R squared Error : ", error_score)

In [ ]:
plt.scatter(Y_train, training_data_prediction)
plt.xlabel("Actual Price")
plt.ylabel("Predicted Price")
plt.title(" Actual Prices vs Predicted Prices")
plt.show()

In [ ]:
test_data_prediction = lass_reg_model.predict(X_test)

In [ ]:
error_score = metrics.r2_score(Y_test, test_data_prediction)
print("R squared Error : ", error_score)

In [ ]:
plt.scatter(Y_test, test_data_prediction)
plt.xlabel("Actual Price")
plt.ylabel("Predicted Price")
plt.title(" Actual Prices vs Predicted Prices")
plt.show()

In [ ]:
print(training_data_prediction)

In [ ]:
df.info()

In [32]:
print (df)

      year  selling_price  km_driven    fuel seller_type transmission  \
0     2014         450000     145500  diesel  individual       manual
1     2014         370000     120000  diesel  individual       manual
2     2006         158000     140000  petrol  individual       manual
3     2010         225000     127000  diesel  individual       manual
4     2007         130000     120000  petrol  individual       manual
...    ...            ...        ...     ...         ...          ...
7901  2013         320000     110000  petrol  individual       manual
7902  2007         135000     119000  diesel  individual       manual
7903  2009         382000     120000  diesel  individual       manual
7904  2013         290000      25000  diesel  individual       manual
7905  2013         290000      25000  diesel  individual       manual

                     owner  seats company_name              model_name  \
0              first owner    5.0       maruti         swift dzire vdi
1             second owner    5.0        skoda  rapid 1.5 tdi ambition
2              third owner    5.0        honda      city 2017-2020 exi
3              first owner    5.0      hyundai       i20 sportz diesel
4              first owner    5.0       maruti         swift vxi bsiii
...                    ...    ...          ...                     ...
7901           first owner    5.0      hyundai               i20 magna
7902  fourth & above owner    5.0      hyundai           verna crdi sx
7903           first owner    5.0       maruti         swift dzire zdi
7904           first owner    5.0         tata              indigo cr4
7905           first owner    5.0         tata              indigo cr4

      mileage (kmpl)  engine (cc)  max_power (bhp)
0              23.40       1248.0            74.00
1              21.14       1498.0           103.52
2              17.70       1497.0            78.00
3              23.00       1396.0            90.00
4              16.10       1298.0            88.20
...              ...          ...              ...
7901           18.50       1197.0            82.85
7902           16.80       1493.0           110.00
7903           19.30       1248.0            73.90
7904           23.57       1396.0            70.00
7905           23.57       1396.0            70.00

[7906 rows x 13 columns]

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7906 entries, 0 to 7905
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   year             7906 non-null   int64
 1   selling_price    7906 non-null   int64
 2   km_driven        7906 non-null   int64
 3   fuel             7906 non-null   object
 4   seller_type      7906 non-null   object
 5   transmission     7906 non-null   object
 6   owner            7906 non-null   object
 7   seats            7906 non-null   float64
 8   company_name     7906 non-null   object
 9   model_name       7906 non-null   object
 10  mileage (kmpl)   7906 non-null   float64
 11  engine (cc)      7906 non-null   float64
 12  max_power (bhp)  7906 non-null   float64
dtypes: float64(4), int64(3), object(6)
memory usage: 803.1+ KB

In [37]:
df=df.reset_index(drop=True)
print (df)

      year  selling_price  km_driven    fuel seller_type transmission  \
0     2014         450000     145500  diesel  individual       manual
1     2014         370000     120000  diesel  individual       manual
2     2006         158000     140000  petrol  individual       manual
3     2010         225000     127000  diesel  individual       manual
4     2007         130000     120000  petrol  individual       manual
...    ...            ...        ...     ...         ...          ...
7901  2013         320000     110000  petrol  individual       manual
7902  2007         135000     119000  diesel  individual       manual
7903  2009         382000     120000  diesel  individual       manual
7904  2013         290000      25000  diesel  individual       manual
7905  2013         290000      25000  diesel  individual       manual

                     owner  seats company_name              model_name  \
0              first owner    5.0       maruti         swift dzire vdi
1             second owner    5.0        skoda  rapid 1.5 tdi ambition
2              third owner    5.0        honda      city 2017-2020 exi
3              first owner    5.0      hyundai       i20 sportz diesel
4              first owner    5.0       maruti         swift vxi bsiii
...                    ...    ...          ...                     ...
7901           first owner    5.0      hyundai               i20 magna
7902  fourth & above owner    5.0      hyundai           verna crdi sx
7903           first owner    5.0       maruti         swift dzire zdi
7904           first owner    5.0         tata              indigo cr4
7905           first owner    5.0         tata              indigo cr4

      mileage (kmpl)  engine (cc)  max_power (bhp)
0              23.40       1248.0            74.00
1              21.14       1498.0           103.52
2              17.70       1497.0            78.00
3              23.00       1396.0            90.00
4              16.10       1298.0            88.20
...              ...          ...              ...
7901           18.50       1197.0            82.85
7902           16.80       1493.0           110.00
7903           19.30       1248.0            73.90
7904           23.57       1396.0            70.00
7905           23.57       1396.0            70.00

[7906 rows x 13 columns]

In [38]:
df.to_csv('cleaned df.csv')

In [39]:
x = df.drop(columns='selling_price')
y=df['selling_price']

In [40]:
x

,year,km_driven,fuel,seller_type,transmission,owner,seats,company_name,model_name,mileage (kmpl),engine (cc),max_power (bhp)
0,2014,145500,diesel,individual,manual,first owner,5.0,maruti,swift dzire vdi,23.40,1248.0,74.00
1,2014,120000,diesel,individual,manual,second owner,5.0,skoda,rapid 1.5 tdi ambition,21.14,1498.0,103.52
2,2006,140000,petrol,individual,manual,third owner,5.0,honda,city 2017-2020 exi,17.70,1497.0,78.00
3,2010,127000,diesel,individual,manual,first owner,5.0,hyundai,i20 sportz diesel,23.00,1396.0,90.00
4,2007,120000,petrol,individual,manual,first owner,5.0,maruti,swift vxi bsiii,16.10,1298.0,88.20
...,...,...,...,...,...,...,...,...,...,...,...,...
7901,2013,110000,petrol,individual,manual,first owner,5.0,hyundai,i20 magna,18.50,1197.0,82.85
7902,2007,119000,diesel,individual,manual,fourth & above owner,5.0,hyundai,verna crdi sx,16.80,1493.0,110.00
7903,2009,120000,diesel,individual,manual,first owner,5.0,maruti,swift dzire zdi,19.30,1248.0,73.90
7904,2013,25000,diesel,individual,manual,first owner,5.0,tata,indigo cr4,23.57,1396.0,70.00
7905,2013,25000,diesel,individual,manual,first owner,5.0,tata,indigo cr4,23.57,1396.0,70.00

In [41]:
y

0       450000
1       370000
2       158000
3       225000
4       130000
         ...
7901    320000
7902    135000
7903    382000
7904    290000
7905    290000
Name: selling_price, Length: 7906, dtype: int64

In [43]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test= train_test_split(x,y, test_size=0.2)

In [47]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import make_column_transformer
from sklearn.pipeline import make_pipeline

In [53]:
ohe=OneHotEncoder()
ohe.fit(x[['fuel', 'seller_type', 'transmission', 'owner', 'company_name', 'model_name' ]])

OneHotEncoder()

In [54]:
ohe.categories_

[array(['cng', 'diesel', 'lpg', 'petrol'], dtype=object),
 array(['dealer', 'individual', 'trustmark dealer'], dtype=object),
 array(['automatic', 'manual'], dtype=object),
 array(['first owner', 'fourth & above owner', 'second owner',
        'test drive car', 'third owner'], dtype=object),
 array(['ambassador', 'ashok', 'audi', 'bmw', 'chevrolet', 'daewoo',
        'datsun', 'fiat', 'force', 'ford', 'honda', 'hyundai', 'isuzu',
        'jaguar', 'jeep', 'kia', 'land', 'lexus', 'mahindra', 'maruti',
        'mercedes-benz', 'mg', 'mitsubishi', 'nissan', 'opel', 'renault',
        'skoda', 'tata', 'toyota', 'volkswagen', 'volvo'], dtype=object),
 array(['3 series 320d', '3 series 320d corporate edition',
        '3 series 320d gt luxury line', ..., 'zest revotron 1.2 xt',
        'zest revotron 1.2t xm', 'zest revotron 1.2t xms'], dtype=object)]

In [55]:
column_trans = make_column_transformer((OneHotEncoder(categories=ohe.categories_),['fuel', 'seller_type', 'transmission', 'owner', 'company_name', 'model_name']), remainder='passthrough')

In [56]:
lr= LinearRegression()

In [57]:
pipe=make_pipeline(column_trans, lr)

In [58]:
pipe.fit(x_train,y_train)

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(categories=[array(['cng', 'diesel', 'lpg', 'petrol'], dtype=object),
                                                                            array(['dealer', 'individual', 'trustmark dealer'], dtype=object),
                                                                            array(['automatic', 'manual'], dtype=object),
                                                                            array(['first owner', 'fourth & above owner', 'second owner',
       'te...
       'mercedes-benz', 'mg', 'mitsubishi', 'nissan', 'opel', 'renault',
       'skoda', 'tata', 'toyota', 'volkswagen', 'volvo'], dtype=object),
                                                                            array(['3 series 320d', '3 series 320d corporate edition',
       '3 series 320d gt luxury line', ..., 'zest revotron 1.2 xt',
       'zest revotron 1.2t xm', 'zest revotron 1.2t xms'], dtype=object)]),
                                                  ['fuel', 'seller_type',
                                                   'transmission', 'owner',
                                                   'company_name',
                                                   'model_name'])])),
                ('linearregression', LinearRegression())])

In [59]:
y_pred= pipe.predict(x_test)

In [60]:
y_pred

array([ 591041.28093193, 1535959.72822855, 1653005.27883336, ...,
        241811.488295  ,  126817.86485597, 1148581.38823314])

In [61]:
r2_score(y_test, y_pred)

0.8313655473056301

import numpy as np

In [62]:
import numpy as np

In [64]:
scores=[]
for i in range(1000):
    x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2, random_state=i)
    lr=LinearRegression()
    pipe=make_pipeline(column_trans,lr)
    pipe.fit(x_train,y_train)
    y_pred=pipe.predict(x_test)
    scores.append(r2_score(y_test,y_pred))

In [65]:
np.argmax(scores)

555

In [66]:
scores[np.argmax(scores)]

0.8917614054347752

In [68]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2, random_state=np.argmax(scores))
lr=LinearRegression()
pipe=make_pipeline(column_trans,lr)
pipe.fit(x_train,y_train)
y_pred=pipe.predict(x_test)
r2_score(y_test, y_pred)

0.8917614054347752

In [69]:
!pip install pickle-mixin

WARNING: You are using pip version 22.0.4; however, version 22.3 is available.
You should consider upgrading via the 'C:\Users\khush\AppData\Local\Programs\Python\Python310\python.exe -m pip install --upgrade pip' command.

Collecting pickle-mixin
  Downloading pickle-mixin-1.0.2.tar.gz (5.1 kB)
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Using legacy 'setup.py install' for pickle-mixin, since package 'wheel' is not installed.
Installing collected packages: pickle-mixin
  Running setup.py install for pickle-mixin: started
  Running setup.py install for pickle-mixin: finished with status 'done'
Successfully installed pickle-mixin-1.0.2

In [71]:
pip install pickle-mixin

Requirement already satisfied: pickle-mixin in c:\users\khush\appdata\local\programs\python\python310\lib\site-packages (1.0.2)
Note: you may need to restart the kernel to use updated packages.

WARNING: You are using pip version 22.0.4; however, version 22.3 is available.
You should consider upgrading via the 'C:\Users\khush\AppData\Local\Programs\Python\Python310\python.exe -m pip install --upgrade pip' command.

In [72]:
import pickle

In [73]:
pickle.dump(pipe,open('LinearRegressionModel.pkl', 'wb'))

In [75]:
pipe.predict(pd.DataFrame([['2007', '100000', 'petrol', 'individual', 'manual', 'first owner', '5.0', 'tata', 'indigo cr4', '18.50', '1398.0', '79.00']], columns=['year', 'km_driven', 'fuel', 'seller_type', 'transmission', 'owner', 'seats', 'company_name', 'model_name', 'mileage (kmpl)', 'engine (cc)', 'max_power (bhp)']))

array([22283.90260105])